@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}

body {
    background-color: #fff59d;
}

.header {
    background-color: #FBBD00;
    height: 85px;
    padding: 5px 10%;
}

.sidebar .logo {
    cursor: pointer;
}

.sidebar .logo img {
    height: 90px;
    width: auto;
    transition: all 0.3s;
}

.sidebar .logo img:hover {
    transform: scale(1.2);
}

.header h1 {
    padding: 30px;
    text-align: center;
    height: 60px;
}

/* Estilos para el sidebar */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
    background-color: #FBBD00;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.sidebar a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    text-align: center;
    width: 100%;
    border-bottom: 1px solid #fff;
}

.sidebar a:hover {
    background-color: #D13B39;
}

/* Estilos para el contenido principal */
.content {
    margin-left: 200px; /* Alinea el contenido principal a la derecha del sidebar */
    padding: 20px;
}

.formulario {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.formulario label {
    display: block;
    margin-bottom: 10px;
}

.formulario input,
.formulario textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.formulario button {
    background-color: #F5D743;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilos para dispositivos con un ancho máximo de 800px */
@media (max-width: 800px) {
    .sidebar {
        width: 40%; /* Ocupa todo el ancho en pantallas pequeñas */
    }

    .content {
        margin-left: 140px; /* Elimina el margen izquierdo en pantallas pequeñas */
        max-width: 100%; /* Aprovechar todo el ancho disponible */
    }
}
